.procedure{
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

.procedure .body{
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: flex-start;
    height: 1400px;
}

.body-main{
    width: 828px;
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
}

.main-body{
    padding: 30px;
}

.procedure .main-body .title{
    font-size: 1.8em;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 15px;
}

.procedure .main-body .dept{
    padding-left: 15px;
}

.procedure .steve{
    background-image: url(../images/steveProfile.jpg);
}

.procedure .dohee{
    background-image: url(../images/doheeProfile.jpg);
}

.procedure .steve, .procedure .dohee{
    background-size: contain;
    width: 280px;
    height: 400px;
    box-shadow: 10px 10px 3px 0 white inset, -10px -10px 3px 0 white inset; 
}

.procedure .encyclopedia{
    border-top: 1.5px solid black;
}

.procedure .encyclopedia-title{
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.5);
}

.procedure .encyclopedia-body{
    font-size: 1em;
    font-weight: 200;
    line-height: 2;
}

.procedure .encyclopedia-h3{
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(2,69,124);
}

.procedure .procedure-img{
    float: inline-end;
    width: 300px;
    height: auto;
}